@charset "UTF8";
@import '../index';

$menuBarWidth: 40px;
$slideBarWidth: 2px;
$slideTitHeight: 34px;

@mixin commonStyle1{
    box-shadow: 0 1px 10px $gray-400;
    padding-left: $base-space * 2/3 !important;
    padding-right: $base-space * 2/3 !important;
}

// 滑动布局
.box {
    width: 100%;
    height: 100%;
    display: flex; 
    user-select: none;
    * {
        box-sizing: border-box;
    }
    .left {
        position: relative;
        min-width: $slideBarWidth + $menuBarWidth;
        overflow: hidden;
        height: 100%;
    }
    .right {
        position: relative;
        flex: 1;
        height: 100%;
    }
}

// 栏菜单
.menuBar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: $menuBarWidth;
    height: 100%;
    background-color: $gray-100;   
    text-align: center; 
    .menuIcon{ 
        display: block;
        margin-top: $menuBarWidth / 5;
        margin-bottom: $menuBarWidth / 2;
        font-size: 150%; 
        cursor: pointer;
        &:hover {
            color: $theme-color; 
        }
    }
}

// 滑动盒子
.slideBox {
    position: relative;
    height: 100%;
    padding-left: $menuBarWidth;
    padding-right: $slideBarWidth;
    border-right: 1px solid $gray-100;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
// 滑动干
.slideBar {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    width: $slideBarWidth;
    height: 100%;
    cursor: ew-resize;
}

// *****
.menuHead {
    height: $slideTitHeight;
    line-height: $slideTitHeight;
    padding: 0 $base-space;
    background-color: $gray-100;
    margin-right: -$slideBarWidth;
    display: flex;
    .menuTitle {
        text-overflow: ellipsis;
    }
    .menuAction {
        flex: 1;
        text-align: right;
        i {
            margin-left: 10px;
            cursor: pointer;
        }
    }
}
.menuBody {
    flex: 1;
    position: relative;
    overflow-y: auto;
    height: 100%;
    padding: $base-space;
    background-color: #fefaff;
}
// *****

// 分类
.category {
    @include clearfix; 
    overflow-y: auto;
    text-align: left;
    padding: $base-space* 2/3  !important;
    padding-bottom: $base-space *3 !important;
    @at-root .categoryNavbar {
        display: flex; 
        justify-content: space-between;
        @include commonStyle1;
        .categoryCrumb {
            position: relative;
        }
        .categoryCrumbIcon {
            font-size: 15px;
            margin-right: $base-space / 2;
            color: $theme-color;
        }
        .categoryLink {
            color: $theme-color;
            cursor: pointer;
            &:hover{
                text-decoration: underline;
            }
        }
        .categoryLinkOn {
            color: $muted-color;
        }
        .categorySlash {
            color: $base-color; 
            margin: 0 $base-space / 3;
        }
        .categoryAction {
            flex: 1;
            text-align: right;
        }
    }
    .categoryItem {
        @include float-left;  
        position: relative;
        margin-bottom: $base-space;
        margin-right: $base-space; 
        width: 240px;
        height: $category-item-height;
        cursor: pointer;
        border: 1px solid $base-border-color;
        padding: $base-space / 2;
        transition: $base-slow-transition;
        box-sizing: border-box; 
        &.active, &:hover{
            background-color: $gray-100;
            box-shadow: inset 0 0 $base-space*15 $white;
            .categoryExtra{
                display: block;
            }
            .categoryExtra i{
                color: $red;
            }
        }
    }
    .categoryIcon, .categoryExtra {
        position: absolute; 
        top: 0;
        box-sizing: border-box;
        width: $base-space * 2;
        text-align: center;
        height: 100%;
    }
    .categoryIcon i {
        margin-top: 14px;
    }
    .categoryExtra{
        line-height: $category-item-height / 2; 
        right: 0;
        display: none;
        i {
            display: block;
            margin-top: 10px;
        }
    }
    .categoryDesc { 
        box-sizing: border-box;
        height: 100%;
        width: 100%; 
        padding: 0 $base-space * 3;
    }
    .categoryName {
        @include ellipsis;
        color: $base-color;
    }
    .categoryIntro {
        @include ellipsis;
        color: $gray-400;
        font-size: 12px; 
    }
    .categoryHold{
        text-align: center;
        line-height: 3;
    }
}
// 搜索 
.search {
    padding: $base-space* 2/3  !important;
    padding-bottom: $base-space *3 !important;
    text-align: left;
    @at-root .searchFooter{
        @include commonStyle1();
    }
    @at-root .searchHeader {
        padding: 0;
        .searchLabel{
            border-bottom: 1px solid $muted-color;
            margin-bottom: 0;
        }
        .searchEnter{
            border: none;
            box-shadow: none!important;
            padding-left: 0;
            width: 100%;
        }
        .searchIcon{
            font-size: 19px;
            cursor: pointer; 
            color: $muted-color;
            &:hover{
                color: $theme-color;
            } 
        }
    }
    .searchHotWord,.searchHistory{
        color: $muted-color;
        font-size: 90%;
    }
    .searchHold {
        line-height: 5;
    }
}

// 详情
.detailInfo {
    color: #999;
    font-size: 13px;
    padding: 5px 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-left: 3px solid #eaecef; 
    line-height: 1.8;
    text-align: left;
}
.detailMuted{
    color: #444;
    margin-right: 15px;
    font-size: 13px;
    text-align: left;
}

// 编辑区
.edit {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    user-select: none;   
}
.editTips {
    color: $gray-500;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%);
}
.editTipsIcon {
    text-align: center;
    font-size: 6em; 
    color: $gray-300;       
 }
.editTab {
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    height: 34px;
    line-height: 34px;
    word-break: inherit;
    white-space: nowrap;
    font-size: inherit;
    background-color:#fafafa;
    position: relative;
}
.editTabItem {
    display: inline-block;
    padding-left: $base-space * 0.6;
    padding-right: $base-space * 3;
    background-color: $gray-100;
    border-right: 1px solid $gray-300;
    position: relative;
    cursor: pointer;
    user-select: none;
    &.editTabItemActive {
        background-color: $white;
        border-right: 1px solid $gray-200;
        .editTabItemClose {
            display: unset;
            color: $gray-900;
        }
    }
    &:hover .editTabItemClose {
        display: unset;
        color: $gray-900;
    }
}
.editTabItemClose {
    font-size: 15px;
    display: none;
    position: absolute;
    right: $base-space * 0.5;
}
.editContent {
    overflow: hidden;
    width: 100%;
    flex: 1;
}