@import "./config.scss";

.warp {
    position: relative;
    margin-bottom: $space;
    .head {
       font-size: 90%;
       .uname {
           padding: 0 $space;
       }
    }
    .body {
        position: relative;
        display: inline-block;
        margin-left: 2.55em;
        padding: $space/2 $space;
        background-color: $gray-100;
        border-radius: 0 10px 10px 10px;
    }
}