@charset "UTF8";
@import '../../../index'; 
.info { 
    box-sizing: border-box;
    height: 100%;
    width: 100%; 
    padding-left:  $base-space * 3.4;
    padding-bottom: $base-space/2;
    position: relative;
    .icon {
        position: absolute;
        top: 2px;
        left: 0;
        color: $theme-color;
        font-size: 2.75em;
    }
    .name {
        @include ellipsis;
        color: $base-color; 
        line-height: 2;
        padding-right: $base-space/2;
    }
    .intro {
        @include ellipsis;
        color: $gray-400;
        font-size: 12px; 
    }
    .updateAt {
        margin-left: $base-space*3;
        color: $muted-color;
    }
}